/*added diferents style of fonts*/
@font-face {
    font-family: "figtree";
    src: url("../assets/fonts/Figtree-Italic-VariableFont_wght.ttf") ;
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: "figtree";
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "figtree";
    src: url("../assets/fonts/static/Figtree-SemiBold.ttf") ;
    font-style:normal;
    font-weight: 700;
}
@font-face {
    font-family: "figtree";
    src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") ;
    font-style:normal;
    font-weight: 900;
}

/*reset basic styles of page*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

/*
we add color and center the objects using flexbox.
agregamos color y centramos los objetos usando flexbox.
*/

body{
    background-color:#F4D04E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "figtree";
}


/*text*/
/*consider it appropriate to create default 
styles for fonts, which can be applied to html classes.
considera apropiado crear estilos predeterminados para 
las fuentes tipograficas, que se pueden aplicar a en las class en html. 
*/
.text_preset1{
    font-size: 1.5em;
    font-weight: 900;
    color: #111111;
}
.text_preset2{
    font-size: 1em;
    font-style: normal;
    color: #6B6B6B;
}

.text_preset3{
    font-size: 0.87em ;
    font-weight: 500;
    color: #111111;
}
.text_preset3_bold{
    font-size: 0.87em ;
    font-weight: 700;
    color: #111111;
}

/*style card*/

#container{
    width: 384px;
    height: 522px;
    border-radius: 20px;
    border: 1px solid #000000;
    padding: 1.5em;
    background-color: white;
    box-shadow: #111111 0.5em 0.5em;
    /*animacion y efecto para la accion hover.
    animation and effect for the hover action.*/
    transition: all 0.3s ease-in-out 0s;
    
    /*flexbo 
    We organize all the elements of the motherboard 
    in columns and size the margins of the objects 
    with row-gap so as not to repeat margin-bottom 
    in different elements.
    todo los elementos de la tarjeta madre lo organizamos 
    en columnas y damos tamaño a los margenes de los objetos 
    con row-gap para no repetir margin-botton en diferentes elementos.
    */
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

#container:hover {
    box-shadow: #111111 1em 1em;
}

#container .content_blog h1{
   transition: all 0.3s ease-in-out 0s;
}

#container:hover > .content_blog h1{
    color: #F4D04E;
}

#container .imagen_blog img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#container .date_blog{
display: flex;
/*We repeat theory, alignment and margin with flexbox*/
flex-direction: column;
row-gap:0.75em;
}

#container .date_blog .category_label_blog{
font-weight: 800;
display: block;
width: 82px;
text-align: center;
padding: 0.40em 0.75em;
background-color: #F4D04E;
border-radius: 0.25em;
}

#container .content_blog{
    line-height:1.5em;
    
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
}

#container .content_blog a{
    text-decoration: none;
    color: #111111;
}

#container .content_blog a:hover{
    color: #F4D04E;
}

#container .avatar_blog{
    display: flex;
    flex-direction: row;
    column-gap: 0.75em;
    align-items: center;
}
